@import './variables.scss';

body {
  margin: 0;
  background: linear-gradient(0deg, $body-color-gradient-start 0%, $body-color-gradient-middle 25%, $body-color-gradient-end 100%);
  background-repeat: no-repeat;

  #__nuxt {
    height: 100vh;
    display: flex;
    justify-content: center;

    .content-container {
      padding: 2rem 0.5rem 0.5rem 0.5rem;
      width: 100%;
      max-width: 1024px;
    }
  }
}

@media only screen and (min-width: 640px) {}

@media only screen and (min-width: 768px) {
  body {
    #__nuxt {
      .content-container {
        padding: 2rem 1rem 1rem 1rem;
      }
    }
  }
}