// Gradient
$body-color-gradient-start: #070350;
$body-color-gradient-middle: #0f0f99;
$body-color-gradient-end: #00aaff;

// Colors
$color-white: #fff;
$color-black: #000;
$color-mid-blue: #2424c7;
$color-light-blue: #cbe7ff;
$color-pink: #ef215e;
$color-dark-gray: #8a8a8aaf;

// Background Color
$background-primary-color: rgb(8 9 35 / 22%);

// Text Color
$text-color-white: #e7e7e7;

// Sizes
$border-radius: 4px;
$button-padding: 6px 10px;
